* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: cyan;
}

#header-nav {
  background-color: #222;
  border-radius: 0;
  border: 0;
  width: 100%;
  margin-bottom: 30px;
}

.navbar {
  --bs-navbar-padding-y: 0; /* Establece el relleno superior e inferior a 0 */
  /* Mantén el resto de las variables y estilos sin cambios */
  /* ... */
}

.navbar-brand {
  margin-left: 30px;
}

.navbar-brand h1 {
  color: cyan;
}

.navbar-header {
  display: flex;
}

.nav-list {
  justify-content: space-between;
  gap: 5px;
}

.nav-list a {
  color: cyan;
  text-align: center;
  border: 1px solid cyan;
  border-radius: 20px;
}

.nav-list a:hover {
  background: #e7e7e7;
  border-radius: 20px;
}

.navbar-toggler {
  margin-left: auto;
  background-color: cyan;
}

#main {
  justify-content: center;
}

.title0 {
  justify-content: center;
  text-align: center;
  margin: 30px;
}

.content {
  position: relative;
  margin-left: 20px;
  margin-top: 15px;
  background-color: grey;
  border: 1px solid black;
  text-align: center; /* Centra el contenido del div */
  border-radius: 15px;
  max-height: 1000px;
}



.content .title {
  padding: 5px; /* Añade un poco de espacio alrededor del texto */
  max-width: 50%; /* Establece el ancho máximo del título */
  margin: 0 auto; /* Centra el título horizontalmente */
  text-align: center; /* Centra el texto del título */
  border: 1px solid black;
  border-radius: 15px;
}

.content1 {
  padding: 15px;
}

.title1 {
  background-color: #9fd5d1;
}

.title2 {
  background-color: brown;
}

.title3 {
  background-color: yellowgreen;
}



@media (min-width: 768px) AND (max-width: 991px) {
  .col-md-6 {
    width: 46%;
  }
}

